div.social-btn-large
   ul.social-btn-large__list
      li.social-btn-large__item
         a(href="#").social-btn-large__link.facebook facebook
      li.social-btn-large__item
         a(href="#").social-btn-large__link.vk vk
      li.social-btn-large__item
         a(href="#").social-btn-large__link.twitter twitter