div.social-btn
	ul.social-btn__list
		li.social-btn__item
			a(href="#").social-btn__link.facebook facebook
		li.social-btn__item
			a(href="#").social-btn__link.vk vk
		li.social-btn__item
			a(href="#").social-btn__link.twitter twitter