case ext
   when 'css'
      // bower:css
      link(rel='stylesheet', href='../../bower_components/normalize-css/normalize.css')
      // endbower

   when 'js'
      // bower:js
      script(src='../../bower_components/jquery/jquery.js')
      script(src='../../bower_components/modernizr/modernizr.js')
      script(src='../../bower_components/html5shiv/dist/html5shiv.js')
      script(src='../../bower_components/jquery-placeholder/jquery.placeholder.js')
      script(src='../../bower_components/bPopup/jquery.bpopup.js')
      script(src='../../bower_components/qtip2/jquery.qtip.js')
      // endbower
