include jade-includes/_head
body
    include jade-includes/_header
    include jade-includes/_sidebar
    include jade-includes/_catalog
    include jade-includes/_info
    include jade-includes/_footer
