head
	meta(charset = "utf-8")
	meta(http-equiv = "X-UA-Compatible" content = "IE = edge")
	meta(name = "viewport", content = "width = device-width, initial-scale = 1")
	block pageTitle
	title= pageTitle
	include favicon
	meta(name = "description" content = "Описание моего сайта")
	meta(name = "keywords" content = "Ключевые слова моего сайта")
	meta(name = "author" content = "leshiple")
	script(src = "bower_components/modernizr/modernizr.js")

	//bower:css
	//endbower
	link(rel = "stylesheet" href = "bower_components/select2/dist/css/select2.min.css")
	link(rel = "stylesheet" href = "fonts/opensans.css")
	link(rel = "stylesheet" href = "css/main.css")
	block style
	<!--[if lt IE 9]>
	<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
	<![endif]-->
