include ../jade-mixins/_mixins
.header-top

    .socials
        ul.header-social__list
            - var socials = ['fb', 'vk', 'tw']
            each social in socials
                li.header-social__item
                    a(href="#" class="header-social__link header-social__link_" + social)= social

    .adress ул. Маяковская 6, офис 17
    a.phone(href="tel:+79211231213") +7 (921) 123-12-13

.header-mid

    a.site-logo(href="index.html")
        img(src="img/cooltech-logo.png", alt="Logo")
    form#search-form
        label.search-label
            input.search-input(type="text" name="search")
        button.search-submit(type="submit" value="Найти") Найти

+nav('header-nav', ['Планшеты', 'Мобильные телефоны', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника'], 1)